API_BASE_URL=http://192.168.1.110:9000
ML_API_URL=http://192.168.1.110:5000
ML_MODEL_URL=http://192.168.1.110:5001

HF_TOKEN=placeholder

ADMIN_EMAIL=placeholder

MONGODB_DATABASE_URI=placeholder
MONGODB_USERNAME=placeholder
MONGODB_PASSWORD=placeholder
MONGODB_DB=placeholder
MONGODB_DATABASE_HOST=placeholder

N8N_WEBHOOK_URL_Calendar=placeholder
N8N_WEBHOOK_URL_Available=placeholder
CHATBOT_WEBHOOK_URL=placeholder
